@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    outline: 0;
    box-sizing: border-box;
}
body {
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(209, 235, 161, 0.726);
}
header {
    background-color: rgba(127, 255, 212, 0.253);
}
header h1 {
    text-align: center;
    padding: 10px;
}
main {
    display: flex;
    position: absolute;
    height: 80vh;
    max-width: 80vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.308);
    margin-top: 20px;
    
    border: 1px solid rgba(0, 0, 0, 0.205);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.247);
    border-radius: 30%;

    overflow: hidden; /*Se a imagem ultrapassar a caixa main ele esconde*/
}
div {
    display: block;
    position: absolute;
    margin-top: 300px;
}
div.time {
    display: flex;
    background-color: rgba(0, 255, 255, 0.226);
    color: black;
    font-size: larger;
    align-self: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 6px;
    box-shadow: 0px 0px 0px 0px rgba(180, 59, 59, 0.205);
    padding: 2px;
    margin: 4px;
}
img {
    display: block;
    height: 80vh;
    max-width: 80vw;
    border-radius: 30%;
    margin-top: -210px;
}
.sun-going-down {display: block;}
.morning-day {display: none;}
.sun-rising {display: none;}
.night {display: none;}

